<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title><%= title %></title>
  </head>
  <body>

    <h1><%= title %></h1>
    <% if (userFullName ) { %>
      <h2>Hello <%=userFullName%> </h2>
      <a href="/signout">Sign out</a>
    <% } else { %>
      <a href="/signup">Sign Up</a>
      <a href="/signin">Sign In</a>
    <% } %>
    <br>
    <section ng-include="'example/views/example.client.view.html'">

    </section>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/application.js"></script>
    <script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  </body>
</html>
